{% extends 'base_main.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/css/cart.css' %}">
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/js/cart.js' %}"></script>
{% endblock %}

{% block content %}

    <div id="cart">
        <h3>Cart</h3>
        <div class="full">
            <section>
                <ul>
                    <li>收&nbsp;&nbsp;货&nbsp;&nbsp;人:&nbsp;Rock</li>
                    <li>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:&nbsp;110</li>
                    <li>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:&nbsp;宝盛里</li>
                </ul>

                <div class="bill">

                    <p>闪送超市</p>
                    <p>0元起送满30免运费22:00前可送达</p>
                    <a href="#">凑单专区</a>

                </div>

                <div class="delivery">
                    <span>收货时间</span>
                    <span>一小时内送达</span>
                    <a href="#">可预订&gt;</a>
                </div>

                <div class="delivery">
                    <span>收获备注</span>
                    <input type="text" placeholder="可输入100字以内的特殊要求">
                </div>

                <ul>
                    {% for Cart in carts %}
                        <li class="menuList" cartid="{{ Cart.id }}">
                            <div class="confirm">
                                <span cartid="{{ Cart.id }}">
                                    {% if Cart.if_selected %}
                                        <span>√</span>
                                        {% else %}
                                        <span></span>
                                    {% endif %}
                                </span>
                            </div>
                            <a href="#">
                                <img src="{{ cart.c_goods.productimg }}" alt="{{ Cart.c_goods.productlongname }}">
                                <p>{{ Cart.c_goods.productlongname }}</p>
                                <p class="presentPrice">{{ Cart.c_goods.price }}</p>
                            </a>


                            <section>
                                <button pID="{{Cart.c_goods.id}}" class="subShopping">-</button>
                                <span id="{{cart.c_goods.id}}">{{ Cart.goods_nums }}</span>
                                <button pID="{{Cart.c_goods.id}}" class="addShopping">+</button>
                            </section>

                        </li>
                    {% endfor %}

                </ul>

                <div class="payTheBill">
                    <div class="all_select">
                        <span>
                            {% if if_all_select %}
                                <span>√</span>
                                {% else %}
                                <span></span>
                            {% endif %}
                        </span>
                    </div>

                    <p>
                        <span style="font-size: 0.5rem">全选</span>
                        <span>共计:</span>
                        <span id="total_price">{{ total_price }}</span>
                    </p>

                    <a href="{% url 'App:addOrder' %}" id="make_order">下单</a>
                </div>

            </section>


        </div>
    </div>

{% endblock %}